checkoutmanager/*
!checkoutmanager/checkoutmanager.cfg
ssh/*
!ssh/config
config/*
!config/nvim/
config/nvim/*
!config/nvim/init.vim
!config/zsh/
config/zsh/*
!config/zsh/custom.zsh
server/*
!server/server.*
.DS_Store
