# This is a public configuration file for checkoutmanager and is
# referenced by the `cm` function in .zshrc along with all files
# with ".cfg" extension.

[dotfiles]
vcs = git
basedir = ~
checkouts = git@github.com:aclark4life/dotfiles

[copilot]
vcs = git
basedir = ~/.config/nvim/pack/github/start
checkouts = git@github.com:github/copilot.vim

[ohmyzsh]
vcs = git
basedir = ~
checkouts = git@github.com:ohmyzsh/ohmyzsh.git .oh-my-zsh
