# This is a public configuration file for checkoutmanager and is
# referenced by the `cm` function in zshrc along with all files
# in the .checkoutmanager directory that end with .cfg.

[copilot]
vcs = git
basedir = ~/.config/nvim/pack/github/start
checkouts = git@github.com:github/copilot.vim

[dotfiles]
vcs = git
basedir = ~
checkouts = git@github.com:aclark4life/dotfiles Dotfiles
